[core]
    editor = vi

[init]
    defaultBranch = main

[user]
    name = Tomoyuki Namai
    email = 5608467+tomyukn@users.noreply.github.com

[url "git@github.com:"]
    pushInsteadOf = https://github.com/
